[submodule "Re-Kernel"]
	path = Re-Kernel
	url = https://github.com/Sakion-Team/Re-Kernel
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
[submodule "NonGKI_Kernel_Build_2nd"]
	path = NonGKI_Kernel_Build_2nd
	url = https://github.com/JackA1ltman/NonGKI_Kernel_Build_2nd
